@import 'tailwindcss';

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

:root {
  background-color: #242424;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  padding: 2rem 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: #3a3a3a;
  border-radius: 0.5rem;
  border: 1px solid #808080;
  cursor: pointer;
  font-weight: 500;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;

  &:hover {
    background-color: #505050;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f0f0f0;
    color: #202020;
  }

  button {
    background-color: #fcfcfc;
  }
}
